<h2>You saved parent and two children connected to him ! </h2>
<ul>
        <a href="{{ path('form') }}">
            <button >Return to form</button>
        </a>
</ul>
<style>
    h2,ul{
        text-align:center;
    }
</style>