{% extends 'base.html.twig' %}

{% block body %}
<div style="text-align:center">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
</div>


{% endblock %}

{% block stylesheets %}
<style>
input{
    margin-left:2em;
    margin-top:1em;
}
label{
    margin-top:2em;
}
button{
    margin-left:2em;
    margin-top:2em;
}
</style>
{% endblock %}
